/* Flex Grid 
Author: Simon Web Design, LLC
Version: 1.2
*/
.outer_wrap {
	margin: 0 auto;
	width: 960px;
}
.inner_wrap {
	padding: 30px;
}

.flex_10,
.flex_20,
.flex_25,
.flex_33,
.flex_40,
.flex_50,
.flex_60,
.flex_66,
.flex_75,
.flex_80,
.flex_90,
.flex_100 {
	display:inline;
	float: left;
	position: relative;
}

.flex_10 {
	width:10%;
}
.flex_20 {
	width:20%;
}
.flex_25 {
	width:25%;
}
.flex_33 {
	width:33%;
}
.flex_40 {
	width:40%;
}
.flex_50 {
	width:50%;
}
.flex_60 {
	width:60%;
}
.flex_66 {
	width:66%;
}
.flex_75 {
	width:75%;
}
.flex_80 {
	width:80%;
}
.flex_90 {
	width:90%;
}
.flex_100 {
	width:100%;
}
.flex_pad {
	padding: 10px;
}
.flex_vert_pad {
	padding: 10px 0px 15px 0px;
}
.clear {
	clear: both;
}